@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html{
  scroll-behavior: smooth;
}
:root {
  --text-color: #141414;
  --white-color: #fff;
  --hover-color: #94cfff;
  --darkblue-color: #0b0e66;
  --blue-color: #26c6ea;
  --background-color: #2b4a61;
  --textabzac-color: #0a3853;
}

.header {
  height: 150px;
  background: var(--background-color);
  height: 160px;
  display: flex;
  opacity: 0.8;
}

.list-header {
  display: flex;
  justify-content: space-around;
  width: 293px;
  height: 24px;
  margin-top: 63px;
  margin-left: 184px;
  font-size: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  width: 186px;
  height: 72px;
  margin-top: 39px;
  margin-left: 204px;
}

.main {
  height: 740px;
  background-image: url("/img/Group\ 48\ 1\ \(1\).png");

  background-size: no-repeat;

  background-position: center;

  background-size: cover;
}
a {
  text-decoration: none;
  color: var(--white-color);
  font-family: "Inter";
}
a:hover {
  color: var(--hover-color);
}

.button {
  width: 141px;
  height: 41px;
  margin-top: 54px;
  margin-left: 228px;
  color: var(--blue-color);
  background-color: var(--darkblue-color);
  border-radius: 100px 0px 100px 0px;
  border: 2px solid var(--blue-color);
  font-family: "Inter";
}

.header-wraper {
  background-image: url("/img/Rectangle\ 104.png");

  background-size: no-repeat;

  background-position: center;

  background-size: cover;
}

.header-launguage {
  border: 1px solid var(--white-color);
  border-radius: 10px;
  padding: 4px 4px 4px 20px;
  height: 12px;
}
.header-curcle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--white-color);
}
.section {
  height: 350px;
  background: var(--white-color);
}
.title-section {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--textabzac-color);
  margin-top: 75px;
  margin-bottom: 4px;
  margin-left: 170px;
}

.title-section2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--textabzac-color);
  margin-left: 307px;
}

.fraza-dzeika {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  margin-left: 649px;
  color: #000;
  margin-top: 16px;
}
.img-section {
  height: 120px;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 505px;
}

.language-div-header {
  margin-top: 65px;
  margin-left: 93.11px;
}

.abzac-main1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
}
.img-main {
  width: 148px;
  height: 40px;
}
.abzac-main2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white-color);
}
.button-main {
  color: var(--blue-color);
  background-color: var(--darkblue-color);
  border-radius: 100px 0px 100px 0px;
  border: 2px solid var(--blue-color);
  font-family: "Inter";
  width: 157px;
  height: 46px;
  margin-top: 30px;
}
.main2 {
  background-image: url(/img/Rectangle\ 10.png);

  background-size: no-repeat;

  background-position: center;

  background-size: cover;

  height: 741px;
}
.main {
  padding-top: 180px;
  padding-left: 204px;
  padding-right: 204px;
}

.button-main2 {
  color: var(--blue-color);
  background-color: var(--darkblue-color);
  border-radius: 100px 0px 100px 0px;
  border: 2px solid var(--blue-color);
  font-family: "Inter";
  width: 260px;
  height: 80px;
  font-size: 25px;
  margin-top: 330px;
  margin-left: 590px;
}

.section2 {
  height: 350px;
  background: var(--white-color);
}

.title-section3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--textabzac-color);
  margin-top: 75px;
  margin-left: 292px;
}

.title-section4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--textabzac-color);
  margin-left: 469px;
}

.img-box {
  padding-right: 204px;
  padding-left: 1186px;
  padding-bottom: 299px;
}

.main3 {
  background-image: url(/img/Rectangle\ 20.png);

  background-size: no-repeat;

  background-position: center;

  background-size: cover;

  height: 704px;
}

.title-section5 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--textabzac-color);
  margin-left: 322px;
}
.title-section6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: var(--textabzac-color);
  margin-left: 319px;
}

.fraza-neytiri {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  margin-left: 674px;
  color: #000;
  margin-top: 16px;
}



.footer {
  background: var(--background-color);
  height: 160px;
  display: flex;
  opacity: 0.8;
  padding: 35px 0;
  position: relative;
}
.footer::after{
  content: "©2023 Avatar: The Way Of Water. All rights reserved";
  position: absolute;
  top: 87%;
  right: 30%;
  color: var(--white-color);
}
.footer-info{
  display: flex;
  flex-direction: column;
}
.footer-wraper {
  background-image: url("/img/Rectangle\ 104.png");

  background-size: no-repeat;

  background-position: center;

  background-size: cover;
}
.footer-line{
  height: 153px;
  width: 1px;
  background: var(--white-color);
  margin-left: 80px;
  margin-right: 80px;
}
.abzac-footer {
  color: var(--white-color);
  margin-top: 50px;
  margin-right: 10px;
}
.abzac-footer2 {
  color: var(--white-color);
  margin-top: 16px;
}
.img-main2{
  width: 152px;
height: 40px;

}

.main-abzac{
  font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: var(--text-color);
}

.main-item02{
  height: 240px;
  background-color: var(--white-color);
  margin-bottom: 24px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 40px;
  padding-left: 84px;
  padding-right: 84px;
}

.main-list02{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  
padding-bottom: 50px;
padding-top: 20px;

}

.main-title{
  font-family: var(--second-family);
font-weight: 400;
font-size: 32px;
color: var(--text-color);
margin-left: 550px;
padding-bottom: 10px;
padding-top: 50px;
}


.main-list02{
  padding-left: 200px;
  padding-right: 200px;
}